.modal {
  width: 100%;
  max-width: 580px;
  min-height: 640px;
  background: #ffffff;
  box-shadow: 0px 2.08205px 52.0513px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  position: relative;
  height: fit-content;
  padding: 70px 58px 47px;
  color: #000;

  &__wrapper {
    justify-content: center;
    padding: 200px 10px 100px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
    &.active {
      display: flex;
    }
  }

  &__img {
    position: absolute;
    width: 160px;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
  }

  &__title {
    font-weight: 700;
    font-size: 30.9977px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5.5px;
  }

  &__text {
    font-size: 22.3081px;
    line-height: 125%;
    text-align: center;
    margin-bottom: 38px;
  }

  &__input-block {
    margin-bottom: 38px;
  }

  &__input {
    width: 100%;
    padding: 23px;
    margin-bottom: 20px;
    outline: none;
    transition: 0.3s;
    background: #ffffff;
    border: 0.520513px solid rgba(0, 0, 0, 0.1);
    border-radius: 5.20513px;
    &::placeholder {
      font-weight: 300;
      font-size: 14.8718px;
      line-height: 145%;
      color: #000;
    }
    &:focus {
      border: 0.74359px solid rgba(0, 0, 0, 0.3);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__close-btn {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      border-radius: 3px;
      background-color: #000;
      left: 0;
      transform-origin: left;
    }
    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  .btn {
    width: 100%;
    &__wrapper {
      max-width: 100%;
      width: 100%;
    }
  }

  .packages__item-title {
    margin-bottom: 20px;
    border-radius: 14px;
  }
}

@media (max-width: 450px) {
  .modal {
    padding: 60px 20px 47px;

    .packages__item-title {
      font-size: 30px;
    }
  }
}
