body {
  font-family: 'DIN Pro', sans-serif;
  font-weight: normal;
  background-color: #f5f5f5;
  &.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
